#us-map{
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  stroke: white !important;
  stroke-width:2px;
  stroke-linejoin: round;
}

path:hover, circle:hover {
  stroke: #6c8cbf !important;
  stroke-width: 3px;
  stroke-linejoin: round;
  cursor: pointer;
}

.red:hover {
  fill: #e2d36b !important;
}

.yellow:hover {
  fill: #97d7c6 !important;
}

.orange:hover {
  fill: #bac94a !important;
}

.green:hover, circle.green:hover {
  fill: #5aa7a7 !important;
}

.green.normal {
  fill: #5aa7a7;
}

.yellow.over {
  fill: #97d7c6;
}

.orange.obese {
  fill: #bac94a;
}

.red.extremly {
  fill: #e2d36b;
}

.white.nodata {
  fill: #707070;
}

#gr,#ye,#or,#re,#wh {
  background-color: white;
  color: black;
  border: 3px solid #6c8cbf;
  align-content: space-evenly;
  padding: 5px;
  margin: 5px;
  font-size: 25px;
  font-family: 'Lato', sans-serif;
}

#gr.greencolor {
  background-color: #5aa7a7;
  color: white;
}

#ye.yellowcolor {
  background-color: #97d7c6;
  color: white;
}

#or.orangecolor {
  background-color: #bac94a;
  color: white;
}

#re.redcolor {
  background-color: #e2d36b;
  color: white;
}

#wh.whitecolor {
  background-color: #707070;
  color: white;
}

#path67 {
  fill: none !important;
  stroke: #6c8cbf; !important;
  cursor: default;
}

h4 {
  text-align: center;
}

.custom-shape-divider-bottom-1616804317,.custom-shape-divider-top-1616804317 {
  pointer-events: none;
}

div.text-color {
  color: black;
}

#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  border: 3px solid #6c8cbf;
  border-radius: 5px;
  padding: 5px;
  font-family: 'lato';
  font-weight: normal;
}

h4.bmi {
  color: black;
}

form {
  background-color: white;
  color: black;
  padding: 30px;
  border-top: #6c8cbf 8px solid;
  border-bottom: #6c8cbf 8px solid;
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*h1 */
@media screen and (min-width: 601px) {
  form {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  form {
    width: 95%;
  }
}

@media screen and (min-width: 1200px) {
  form {
    width: 35%;
  }
}


#menu-outer {
	height: 84px;
	background: url(images/bar-bg.jpg) repeat-x;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
}

ul#horizontal-list li {
	display: inline;
}
