#beginner, #moderate, #intermediate, #challenge {
  display: none;
}

#beginner2, #moderate2, #intermediate2, #challenge2 {
  display: none;
}

#beginner3, #moderate3, #intermediate3, #challenge3 {
  display: none;
}

#beginner4, #moderate4, #intermediate4, #challenge4 {
  display: none;
}

/* #balance, #strength, #flexibility, #endurance {
  display: block;
} */

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
}

.workout-button {
  background-color: white;
  color: black;
  border: 2px solid #6c8cbf;
  align-content: space-evenly;
  padding: 5px;
  margin: 5px;
  font-size: 25px;
  font-family: 'Lato', sans-serif;
}

.workout-button:hover {
  background-color: #6c8cbf;
  color: white;
}


* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item-left {
  background-color: red;
  padding: 5px;
  flex: 50%;
}

@media (max-width: 600px) {
  .flex-item-left {
    flex: 100%;
  }
}

#timer {
  position: sticky;
  top: 0;
  z-index: 100;
}
